{% set title = "0.0 Home" %}
{% set id = 'home' %}
{% extends "pageTemplate.html" %}


{% block content %}
<div class="logo-container">
    <img src="{% if forDist %}.{% endif %}/shared/images/Skytrofa_TM_Primary_RGB.svg"  alt="">
</div>

<section class="content-container">
    <h1>Select the appropriate interactive visual<br>aid (IVA) for your discussion:</h1>
    
    <div class="button-container">
        <button class="btn1" onclick="linkTo1()">Pediatric indication</button>
        <button class="btn2" onclick="linkTo2()">adult indication</button>
    </div>


</section>

 <script>
      function linkTo1() {
      com.veeva.clm.gotoSlide("0_0_Home_SKYTROFA-CROSS-FUNCTIONAL-SEGMENTED-IVA_PED.zip","SkytrofaSegmentedEntryIvaPed");	

  }
      function linkTo2() {
      com.veeva.clm.gotoSlide("0_0_home_SKYTROFA-CROSS-FUNCTIONAL-SEGMENTED-IVA_ADULT.zip","SkytrofaSegmentedEntryIvaAdult");	
// "0_0_Test-2.zip","2025LinkedPresentation2" ==== "pageName.zip", "presentation ID created on binder"  }

      }
</script>

{% endblock %}