.iPad {
  height: 100%;
  #applicationWrap {
    border: none;
    height: 100vh;
  }

  .proportionalSpacer,
  .proportionalParent {
   height: 100vh!important;
  }
}

.iPad--pro-12-9 {

  .proportionalSpacer,
  .proportionalParent {
   height: 100vh!important;
  }

  #applicationWrap {
    overflow: visible;

    .content-container {
      top: 55%;
    }
  }

}
// .iPad--pro-12-9