@import "00-reset";
@import "fonts";
// @import "ipad-sizes";

.isi-preview,
.isi__title,
.isi__copy,
#isiModal,
#references {
    display: none;
}



button {
    text-transform: uppercase;
    padding: 20px;
    font-size: 18px;
    position: relative;
}

html,
body {
  background-color: #fff;
  font-family: 'Fieldwork-Geo', sans-serif;
  font-weight: 800;
}
@media only screen and (max-width: 1193px) {
}

#applicationWrap {
  position: relative;
  width: 1194px;
  height: 834px;
  overflow: hidden;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border: 1px solid #707070;
  margin: 0 auto; // Positional Control #1 - Needed for center
}

.iPad #applicationWrap {
  width: 100%;
  height: 100vh;

  main > .container {
    height: calc(100vh - 225px);
    // border: 1px solid red;
   
  }
  .modal.modal--dropshadow .modal__content {
    height: 100%;
  }
}

* .proportionalSpacer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.proportionalParent {
  position: relative;
  width: 1194px; // required static width
  height: auto;
  transform-origin: top center;
  // border:1px solid green;
}
main > .container {
  position: relative;
  min-height: 610px;
  padding: 82px 40px 0px 40px;
}

#home #applicationWrap {
    background: url("../images/grey-bkgd.jpg") no-repeat center center / cover;
}

h1 {
    text-align: center;
    color: #991966;
}

.logo-container {
  width: 190px;
  position: absolute;
  right: 30px;
  top: 30px;
    img {
      width: 100%;
    }

}

.content-container {
  position: absolute;
  top: 50%;;
    // transform: translateY(0%);
    height: 100%;
    width: 100%;
.button-container {
    text-align: center;
    margin-top: 40px;
    button {
      font-family: 'UniversLTStd';
        margin: 0 10px;
        color: #fff;
        font-size: 21px;
        border: none;
        border-radius: 38px;
        width: 289px;
        height: 53px;
        line-height: 20px;
        font-weight: bold;
    }
}   
}



.btn1 {
    background-color: #991966;
}

.btn2 {
    background-color: #5B8303;
}




