

<div id="home">
   
    <div class="hl-container">
        <h2 class="Helvetic-Neue-LT-CD">Profiles in</h2>
        <h1 class="Helvetic-Neue-HVY-Cond">Lupus Nephritis</h1>
    </div>
            


    <div class="profile-tile-container" >
        <a href="#" class="profile-tile" id="patient-case">
            <div class="icon">
                <img src="images/magnifying-glass-patient-case.svg" alt="">
            </div>
            
            <div >
               <p class="Helvetic-Neue-Bold-CD">Review a Patient Case</p>
            </div>
            
            
        </a>
    
        <a href="#" class="profile-tile" id="build-case">
            <div class="icon">
                <img src="images/build-case-icon.svg" alt="">
            </div>

            <div >
                <p class="Helvetic-Neue-Bold-CD">Build a Patient Case</p>
            </div>
           
        </a>
    </div>

    <div class="footer">
        <div class="copy">
            <p><span class="nowrap">Patient profiles and photos are for illustrative purposes only and do not represent actual patients.</span>
                Trademarks and logos are the property of Aurinia Pharmaceuticals Inc. <span class="nowrap">Copyright ©2022, Aurinia Pharma U.S., Inc.
                All rights reserved. (8/22) US-LUP-2200138</span></p>
        </div>

        <div class="logo">
            <img src="images/Aurinia-logo.png" alt="">
        </div>

    </div>

</div>