<div class="isi-preview">
	<img id="isiOpen" class="isi-toggle button-plus" src="images/button-plus.svg" alt="See More">

	</div> 
	<div class="">
		<div class="isi__title"><strong>Important Safety Information</strong></div>
		<div class="isi__copy">
			<p><strong>BOXED WARNINGS: MALIGNANCIES AND SERIOUS INFECTIONS</strong><br>Increased risk for developing malignancies and serious infections with LUPKYNIS or other immunosuppressants that may lead to hospitalization or death.</p>
		</div>
	</div>
</div>

<div id="isiModal" class="modal modal--full">
	<img id="isiClose" class="modal-close isi-toggle" src="images/modal-close.svg" alt="Close">
	<div class="modal__content">
		{% include "partials/isi.html" %}
	</div><!-- .modal__content -->
</div><!-- .modal -->