


<div class="isi">
	<div class="isi__title"><strong>INDICATION</strong></div>
	<div class="isi__copy">LUPKYNIS is indicated in combination with a background immunosuppressive therapy regimen for the treatment of adult patients with active lupus nephritis (LN).<br>
	<em>Limitations of Use:</em> Safety and efficacy of LUPKYNIS have not been established in combination with cyclophosphamide. Use of LUPKYNIS is not recommended in this situation.</div>
	<div class="isi__title mt-10px"><strong>IMPORTANT SAFETY INFORMATION</strong></div>
	<div class="isi__copy">
		<p><strong>BOXED WARNINGS: MALIGNANCIES AND SERIOUS INFECTIONS</strong></p>
		<p><strong>Increased risk for developing malignancies and serious infections with LUPKYNIS or other immunosuppressants that may lead to hospitalization or death.</strong></p>
		<p><strong>CONTRAINDICATIONS:</strong> LUPKYNIS is contraindicated in patients taking strong CYP3A4 inhibitors because of the increased risk of acute and/or chronic nephrotoxicity, and in patients who have had a serious/severe hypersensitivity reaction to LUPKYNIS or its excipients.</p>
		<p><strong>WARNINGS AND PRECAUTIONS</strong></p>
		<p><strong>Lymphoma and Other Malignancies:</strong> Immunosuppressants, including LUPKYNIS, increase the risk of developing lymphomas and other malignancies, particularly of the skin. The risk appears to be related to increasing doses and duration of immunosuppression rather than to the use of any specific agent.</p>
		<p><strong>Serious Infections:</strong> Immunosuppressants, including LUPKYNIS, increase the risk of developing bacterial, viral, fungal, and protozoal infections (including opportunistic infections), which may lead to serious, including fatal, outcomes.</p>
		<p><strong>Nephrotoxicity:</strong> LUPKYNIS, like other calcineurin inhibitors (CNIs), may cause acute and/or chronic nephrotoxicity. The risk is increased when CNIs are concomitantly administered with drugs associated with nephrotoxicity.</p>
		<p><strong>Hypertension:</strong> Hypertension is a common adverse reaction of LUPKYNIS therapy and may require antihypertensive therapy.</p>
		<p><strong>Neurotoxicity:</strong> LUPKYNIS, like other CNIs, may cause a spectrum of neurotoxicities: severe include posterior reversible encephalopathy syndrome (PRES), delirium, seizure, and coma; others include tremor, paresthesia, headache, and changes in mental status and/or motor and sensory functions.</p>
		<p><strong>Hyperkalemia:</strong> Hyperkalemia, which may be serious and require treatment, has been reported with CNIs, including LUPKYNIS. Concomitant use of agents associated with hyperkalemia may increase the risk for hyperkalemia.</p>
		<p><strong>QTc Prolongation:</strong> LUPKYNIS prolongs the QTc interval in a dose-dependent manner when dosed higher than the recommended lupus nephritis therapeutic dose. The use of LUPKYNIS in combination with other drugs that are known to prolong QTc may result in clinically significant QT prolongation.</p>
		<p><strong>Immunizations:</strong> Avoid the use of live attenuated vaccines during treatment with LUPKYNIS. Inactivated vaccines noted to be safe for administration may not be sufficiently immunogenic during treatment with LUPKYNIS.</p>
		<p><strong>Pure Red Cell Aplasia:</strong> Cases of pure red cell aplasia (PRCA) have been reported in patients treated with another CNI immunosuppressant. If PRCA is diagnosed, consider discontinuation of LUPKYNIS.</p>
		<p><strong>Drug-Drug Interactions:</strong> Avoid co-administration of LUPKYNIS and strong CYP3A4 inhibitors or with strong or moderate CYP3A4 inducers. Reduce LUPKYNIS dosage when co-administered with moderate CYP3A4 inhibitors. Reduce dosage of certain P-gp substrates with narrow therapeutic windows when co-administered.</p>
		<p><strong>ADVERSE REACTIONS</strong><br>The most common adverse reactions (≥3%) were glomerular filtration rate decreased, hypertension, diarrhea, headache, anemia, cough, urinary tract infection, abdominal pain upper, dyspepsia, alopecia, renal impairment, abdominal pain, mouth ulceration, fatigue, tremor, acute kidney injury, and decreased appetite.</p>
		<p><strong>SPECIFIC POPULATIONS</strong><br><strong>Pregnancy/Lactation:</strong> May cause fetal harm. Advise not to breastfeed.</p>
		<p><strong>Renal Impairment:</strong> Not recommended in patients with baseline eGFR ≤45 mL/min/1.73 m<sup>2</sup> unless benefit exceeds risk. If used in this population, reduce LUPKYNIS dose.</p>
		<p><strong>Hepatic Impairment:</strong> For mild or moderate hepatic impairment, reduce LUPKYNIS dose. Avoid use with severe hepatic&nbsp;impairment.</p>
		<p><strong>Please see <a href="https://d1io3yog0oux5.cloudfront.net/auriniapharma/files/pages/lupkynis-prescribing-information/FPI-0011%20Approved%20USPI%20%20MG.pdf" data-link="PI" class="boldLink outbound">Prescribing Information</a> including Boxed Warning and Medication Guide for LUPKYNIS.</strong></p>
		
	</div>

	

</div><!--.isi-->